/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

body {
    color: white;

    background-color: rgb(24, 24, 23);
    padding-bottom: 0;
    background-attachment: fixed;
    font-size: 10px;
}

header {
    background-color: black;
    color: orange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    opacity: 0.7;
   
}
header h1{
    color: orange;
    background: none;
}

.nav {
    width: auto;
}

ul {
    margin: 20px;
    list-style-type: none; /* Remove default list bullet points */
}

a {
    text-decoration: none;
    color: white;
    margin: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block; /* Make the links inline-block for spacing */
}

a:hover {
    background-color: white;
    color: black;
}

h1 {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold; /* Use font-weight to set bold */
    text-align: center;
    color: orange;
 
}

img {
    width: 350px;
    height: 350px;
    filter: grayscale(80%);
    margin: 16px;
    opacity: 0.7;
    border: none;
}

img:hover {
    filter: none; /* Remove grayscale filter on hover */
}

li {
    font-weight: bold;
    font-size: 20px;
}

.container {
    padding-left: 13px;
    margin-left: 250px; /* Adjusted margin */
    position: relative; /* Use relative positioning for container */
}

p {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 13px;
    margin-left: 30px;
}

span {
    color: orange;
    background-color: black;
    box-shadow: 12px 12px 12px rgb(177, 123, 22);
    opacity: 0.7;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid black;
    text-align: fit-content;
}

button{
    background-color: black;
    color: orange;
    border-radius: 50px;
}








